/* Contenedor principal */
.ContenedorPrincipal {
  justify-content: space-evenly;
  background-color: #f2f2f2;
  margin-top: 12px;
  width: 100%;
}

/* Sección Botones */
.SeccionBotones {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  color: #28537e;
  width: 85vh;
  padding: 20px; /* Añadir padding para separar los botones del borde */
}

/* Ajuste para los botones */
.botonesSuperior, .botonesInferior {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

/* Centra los botones */
.botonesSuperior .ant-col, .botonesInferior .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SeccionContainer{
  width: 80vh;
}

/* Sección Tabla */
.SeccionTabla {
  
  margin-bottom: 20px;
  border: 1px solid rgb(189, 189, 189);
  color: #28537e;
}

/* Sección Noticias */
.SeccionNoticias {
 
    margin-top: 20px; /* Mantén este margen para separación */
    
    color: #28537e;
}
.CardTitleCustom p{
  margin: 0;
}
/* Estilo de Contador de Noticias */
.ContadorNoticias .ant-badge-count {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
}



/* Estilo de título personalizado */
.CardTitleCustom {
  display: flex;
  justify-content: space-between; /* Coloca el texto y el badge en extremos opuestos */
  align-items: center; /* Centra verticalmente */
  background-color: #28537e;
  font-weight: bold;
  color: white;
  
  height: 35px;
}

/* Ajuste para la tabla */
.SeccionTabla .ParrafoTabla {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.Parrafos {
  font-size: 14px;

text-align: justify;
 
}
