/* Contenedor principal */
.ContenedorPrincipal {
  display: flex;
  flex-direction: row; /* Alinea los elementos en fila */
  justify-content: space-between; /* Asegura que las secciones estén distribuidas uniformemente */
  align-items: flex-start; /* Alinea los elementos al inicio */
  background-color: #f2f2f2;
  margin-top: 20px;
  width: 100%; /* Ajusta el ancho del contenedor principal */
  margin: auto;
  gap:10px;
}

/* Sección Botones */
.SeccionBotones {
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  color: #28537e;
  padding: 20px;
  align-items: center;
  width: 55%;
  margin-left: 0 auto;
  
}

/* Ajuste para los botones */
.botonesSuperior, .botonesInferior {
  display: flex;
  width: 100%;
  margin: 10px 0; 
  padding: 10px;
}

/* Usa min-width para evitar que los botones sean demasiado pequeños */
.botonesSuperior .ant-col, .botonesInferior .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* Contenedor de la tabla y las noticias */
.SeccionContainer {
  width: 42%;
  display: flex;
  flex-direction: column;
 gap:20px
  
}

/* Sección Tabla */
.SeccionTabla {
  color: #28537e;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

/* Sección Noticias */
.SeccionNoticias {
  
  color: #28537e;
}

/* Estilo de Contador de Noticias */
.ContadorNoticias .ant-badge-count {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
}

/* Estilo de título personalizado */
.CardTitleCustom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28537e;
  font-weight: bold;
  color: white;
  height: 35px;
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
}

/* Ajuste para la tabla */
.SeccionTabla .ParrafoTabla {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.Parrafos {
  font-size: 14px;
  text-align: justify;
}

.MainContainer{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.ant-card .ant-card-head{
  padding: 0 !important;
}