/* Contenedor principal */
.ContenedorPrincipal {
  display: flex; /* Asegura que el contenido interno se comporte como flex */
  flex-direction: row; /* Mantiene las secciones en fila */
  justify-content: space-evenly; /* Distribuye el espacio entre las columnas de forma equitativa */
  background-color: #f2f2f2;
  margin-top: 20px;
  width: 90%; /* Se amplía un poco para mejor distribución del contenido */
 height: max-content;
}

/* Sección Botones */
.SeccionBotones {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  color: #28537e;
  padding: 20px;
  align-items: center;
  width: 41%; 
}


/* Ajuste para los botones */
.botonesSuperior, .botonesInferior {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

/* Usa min-width para evitar que los botones sean demasiado pequeños */
.botonesSuperior .ant-col, .botonesInferior .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}



/* Contenedor para la tabla y las noticias */
.SeccionContainer {
  width: 37%; /* Ajusta el ancho de la sección de tabla y noticias */
  display: flex;
  
}

/* Sección Tabla */
.SeccionTabla {
  margin-bottom: 20px;
  border: 1px solid rgb(189, 189, 189);
  color: #28537e;
  background-color: white;
}

/* Sección Noticias */
.SeccionNoticias {
  margin-top: 20px;
  color: #28537e;
  background-color: white;
}

/* Estilo de Contador de Noticias */
.ContadorNoticias .ant-badge-count {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
}

/* Estilo de título personalizado */
.CardTitleCustom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28537e;
  font-weight: bold;
  color: white;
  height: 35px;
}

/* Ajuste para la tabla */
.SeccionTabla .ParrafoTabla {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.Parrafos {
  font-size: 14px;
  text-align: justify;
}
