.ContainerPrincipal{
    width: 80%;
    justify-content: center;
    background-color: #28537e;
    margin: 0 auto;
    border-radius: 5px;
    
}
.Descripcion{
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
