.MainContainer {
  display: flex;
  justify-content: space-between;
  
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
  
  padding: 12px;
}

.ModulosDeInformacion {
  flex-grow: 1;
  text-align: center;
}

.BotonAgregar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Boton {
  width: 70px;
  height: 70px;
}

.TituloDeReserva {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.Titulodelmodulo{
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
