.MainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
}
.ModulosDeInformacion{
  padding: 20px;
    width: 50%;
    text-align: center;
}
.BotonAgregar{
  display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    gap: 12px;
}
.Boton{
  width: 100px;
  height: 100px;
}

