.historial-reservaciones{
    width: 80%;
}
/* Clase para estado aceptado */
.row-aceptado {
  background-color: #e6ffed;  /* Verde claro */
}

/* Clase para estado pendiente */
.row-pendiente {
  background-color: #fffbe6;  /* Naranja claro */
}

/* Clase para estado rechazado */
.row-rechazado {
  background-color: #fff1f0;  /* Rojo claro */
}

.row-cancelada{
  background-color: rgb(254, 239, 211);
}
