.LogoUdes {
  width: 25rem;
  height: auto;
  margin-bottom: 1rem;
}

.BotonHome{
  border: none;
  background-color: transparent;
}


.navBar {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
}



.iconHome, .iconCalendar, .iconBell, .iconUser {
  font-size: 150%;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column; /* Colocar todo en columna */
  justify-content: center;
  align-items: center;
  width: 100%;
}
.EspacioIzquierdo{
  display: flex;

  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.EspacioDerecho{
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 3px;
}

.EspacioDerecho Col , .EspacioIzquierdo Col{
  column-span: 1.5;
}
