.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.login-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-top: 1;
}

.login-info {
  padding: 20px;
}

.login-form {
  padding: 20px;
  border-radius: 8px;
}

.extra-link {
  margin-top: 20px;
}

.extra-link a {
  color: #1890ff;
  text-decoration: none;
}

.extra-link a:hover {
  text-decoration: underline;
}
